
        <!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="keywords" content="服務貿易,台灣, 立法院, 學生, 學生佔領, 學生佔領立法院, 國會, 重新審查, 社會運動, 街頭抗爭" />
<meta name="description" content="匿名者 - ANONYMOUS 為了響應社會運動與供給現場活動主持人一個好用的意見發表平台，趕工做出了這個app">
  <title>匿名者 - ANONYMOUS</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track","rainyday" => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- #font -->
    <link href='http://fonts.googleapis.com/css?family=Poller+One' rel='stylesheet' type='text/css'>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
<!-- 
 <script src="/assets/rainyday.js"></script>
        <script>
            function run() {
                var image = document.getElementById('background');
                image.onload = function() {
                    var engine = new RainyDay({
                        image: this
                    });
					engine.rain([ [3, 2, 2] ], 100);
				};
                image.crossOrigin = 'anonymous';
                image.src = '/assets/home_bg.jpg';
            }
        </script>
         -->
</head>
<body onload="run();" style="background-color: black">
 <!-- 		<h1>匿名者 - ANONYMOUS</h1> -->  
        <%= image_tag ("home_bg.jpg"),:class=>"background img-responsive", :id=>"background" %>	
<!-- <img id="background" alt="background" src="/assets/home_bg.jpg" > -->
  <div align="center">
<a href="https://play.google.com/store/apps/details?id=com.Anonymous.tw" >
  <img  class = "badges"alt="Android app on Google Play"
       src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" style="
width: 200px;
margin-left: -100px;
margin-top: -40px;
margin-bottom: auto;
 
position: absolute;" />
</a>
</div>
  <%= image_tag ("home_bg2.jpg"),:class=>"home_bg img-responsive"%>	

 
  
  <%= yield %>
  <%= render "common/google_analytics" %>
<!--   <%= render :partial => "common/footer" %> -->
</body>
</html>
